@font-face {
  font-family: "Knockout";
  src: url("../fonts/Knockout-HTF49-Liteweight.woff2") format("woff2"),
    url("Knockout-HTF49-Liteweight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blimps personal use";
  src: url("../fonts/Blimps.woff2") format("woff2"),
    url("../fonts/Blimps.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 1440px;
}
.active {
  overflow: hidden;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #005cff;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translateY(0);
  background-image: url("../img/Rectangle.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c1c;
  font-family: "Knockout";
}
h1 {
  font-size: 61.04px;
  margin: 0px;
}
h2 {
  font-size: 48px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #4d4d4d;
}

.pad_top {
  padding-top: 50px;
}
.pad_btm {
  padding-bottom: 50px;
}
.marg_top {
  margin-top: 40px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.custom_container {
  max-width: 1140px;
  /* border:1px solid red; */
}
.custom_button {
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 13px;
  color: #1c1c1c;
  font-weight: 500;
  transition: 0.2s ease all;
  display: inline-block;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  text-transform: capitalize;
  background-color: #ffc000;
  text-transform: uppercase;
}
.custom_button:focus {
  outline: none;
}
ul li a {
  width: 100%;
  position: relative;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  background: #ff5e4f;
  height: 0.15rem;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s ease all;
}
ul li a:hover::after {
  transform: scale(1, 1);
}

header {
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 999;
  transition: 0.5s ease all;
  /* border: 1px solid red; */
}
.header_fixed {
  background-color: #005cff; /* Background color when fixed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.5s ease all;
  background-image: url("../img/Rectangle.png");
}
.left_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  /* border:1px solid red; */
}

.right_img {
  height: 100%;
  width: 40%;
  position: absolute;
  float: right;
  overflow: hidden;
  right: 0px;
}
.right_img img {
  width: 100%;
}
.header_inner {
  position: relative;
  width: 100%;
  z-index: 999;
  transition: 0.3s ease all;
}

.left_background_img {
  position: relative;
  /* border: 4px solid white; */
  width: 100%;
  right: 0px;
}
.frame_img {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
/* .header_inner {
  padding: 0px 15px;
} */
.header_top {
  /* border:1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  z-index: 99;
}
/* .header_top button {
  text-transform: uppercase;
} */
.header_top .left_btn,
.right_btn {
  /* border:1px solid black;/ */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donate button {
  color: #005cff;
  border: 1.5px solid #005cff;
}
.store button {
  color: #ff9900;
  border: 1.5px solid #ff9900;
  margin-left: 12px;
}
.login button {
  background-color: #353535;
  color: #ffffff;
  border: 1px solid #353535;
  margin-right: 12px;
}
.signup button {
  color: #353535;
  background-color: #ffffff;
  border: 1px solid #000;
}
.left_btn {
  /* border:1px solid #FF9900; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.left_btn ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  gap: 31px;
}
.left_btn ul li a {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 14px;
}
.list_item {
  display: none;
}

.list_item {
  background-color: #1cc6f3;
  border-radius: 14px;
  padding: 10px 10px;
  width: 150px;
  position: absolute;
  margin-top: 5px;
  z-index: 999;
  box-shadow: 0px 1.52381px 0px 0px #232323;
}
.list_item .list ul {
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
}
.list ul li a {
  font-weight: 400;
}
.list ul {
  gap: 0px;
}
.list ul li a::after {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 120px;
  background: #ff9900;
  left: 0px;
  bottom: -4px;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s ease all;
}
.list ul li a:hover::after {
  transform: scale(1, 1);
}
.list ul li:last-child {
  margin: 8px 0px 5px 0px;
}
.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* header ends */

/* Banner Start */

.banner_section {
  /* background-color: #005cff; */
  height: 100%;
  width: 100%;
  background-image: url("../img/Rectangle.png"),
    url("../img/banner-bck-botttom.png");
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.banner_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner-bck-top.png");
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;
}
.banner_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.banner_heading span {
  font-family: "Blimps personal use";
}
.banner_para {
  width: 60%;
  margin-top: 15px;
  text-align: center;
}
.banner_btn button {
  background-color: #fff;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 2px;
}
.banner_btn {
  margin-top: 25px;
}
.marquee_tag_box{
  margin-top: 120px;
  width: 100%;
}
.marquee_tag {
  height: 100%;
  /* border: 1px solid black; */
}
.banner_img {
  height: 100%;
  width: 100%;
  display: flex;
  column-gap: 16.82px;
}
.banner_img_inner {
  border-radius: 27.097px;
  /* border: 2px solid black; */
  overflow: hidden;
}
.banner_img .item1 {
  width: 100%;
  padding-top: 51%;
  position: relative;
  overflow: hidden;
}
.banner_img .item1 img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
/* Banner Ends */
















/* Resource Section Start  */

/* .resource_section {
  border: 1px solid red;
} */
.resource_main {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 70px;
}
.resource_section_top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.resource_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resource_heading h1 {
  text-align: center;
}
.resource_heading_two {
  font-size: 61.04px;
  font-family: "Blimps personal use";
}
.resource_para {
  width: 65%;
  text-align: center;
}
.resource_para p {
  font-size: 18px;
  font-weight: 500;
}

.resource_bottom {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  row-gap: 49px;
  column-gap: 49px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 59px;
  grid-row-gap: 59px; */
  background: #fff;
}
.resource_item {
  border-radius: 24.502px;
  border: 4px solid transparent;
  padding: 25px;
  width: 30%;
}

.resource_bottom .item1 {
  border-color: #74a02b;
}

.resource_bottom .item2 {
  border-color: #ffc000;
}
.resource_bottom .item3 {
  border-color: #005cff;
}
.resource_bottom .item4 {
  border-color: #1cc6f3;
}
.resource_bottom .item5 {
  border-color: #ff5e4f;
}

.resource_item_inner {
  display: flex;
  justify-content: center;
  /* height: 110px; */
}

.resource_item_inner_para {
  margin-top: 13px;
  text-align: center;
}

/* resource section ends */

/* writing section start */

.writing_section {
  /* border: 1px solid blue; */
  overflow: hidden;
}
.writing_main {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  position: relative;
  /* right: -15px; */
}
.writing_heading {
  transition: 0.3s ease all;
}
.writing_btn button {
  border-radius: 0px;
  font-size: 15.71px;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}
.writing_text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.writing_icon {
  position: relative;
  /* margin-top: 40px; */
}
.writing_icon_text {
  position: absolute;
  top: 0px;
  left: 15%;
}
.writing_icon_text_img {
  padding-left: 22%;
}
.writing_para {
  text-align: justify;
}
.writing_para p a {
  font-weight: 500;
}
.writing_icon_text_para1 {
  font-size: 32px;
  font-weight: 320;
  font-family: "Knockout";
  color: #1c1c1c;
  line-height: 1;
}
.writing_icon_text_para2 {
  font-size: 18px;
  font-weight: 500;
}

.writing_img {
  width: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;
  right: -60px;
}
.writing_img_inner {
  width: 100%;
  padding-top: 94%;
  position: relative;
  overflow: hidden;
}
.writing_img_inner img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

/* writing section ends */

/* Carousel section start */

.carousel_section {
  border: 5px solid red;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
}

.carousel_main {
  display: flex;
  justify-content: center;
}
.carousel_inner {
  padding: 0px 70px;
  text-align: center;
  border: 1px solid black;
}
.carousel_para1 p {
  color: #1c1c1c;
  text-align: center;
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  letter-spacing: 1.82px;
  text-transform: uppercase;
}
.carousel_para3_top {
  font-family: "Blimps personal use";
  display: flex;
  flex-direction: column;
  font-size: 48px;
}
.carousel_para3_btm {
  font-family: "Rubik", sans-serif;
  font-size: 13.877px;
  font-style: normal;
  font-weight: 600;
}
.carousel_custom_btn button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
}

/* carousel section ends */

/* digital section start */

/* 
.digital_resource_section {
  border: 1px solid red;
} */
.digital_resource_top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.digital_resource_main {
  padding: 0px 70px;
}
.digital_resource_item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.digital_resource_heading {
  text-align: center;
}
.digital_resource_para {
  display: flex;
  justify-content: center;
  text-align: center;
}
.digital_resource_para p {
  color: #7e7e7e;
  width: 60%;
}
.digital_resource_icon {
  width: 20%;
  position: relative;
  /* display: flex; */
}
.digital_resource_text {
  width: 100%;
}
.digital_icon_bottom {
  position: relative;
  z-index: 1;
}
.digital_icon_top {
  position: absolute;
  z-index: 2;
  left: 15px;
  left: 28px;
  top: 7px;
}
.digital_resource_icon .icon4 {
  left: 5px;
}
.digital_resource_icon .icon5 {
  top: 16px;
}
.digital_resource_icon .icon6 {
  left: 5px;
}

.digital_btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.digital_btn button {
  border-radius: 0px;
  font-size: 15px;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

/* Resource Section Ends */

/* left-right-section-start */

.left_right_main {
  left: -60px;
}
.left_right_text {
  justify-content: center;
  margin-right: 6%;
}

.left_right_btn {
  margin-top: 20px;
}

/* left-right-section-ends  */

/* involved section start */

.involved_heading_inner {
  text-align: center;
}
.involved_heading_para {
  width: 100%;
  display: flex;
  justify-content: center;
}
.involved_heading_para p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 52%;
}
.involved_img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.involved_img h3 {
  color: var(--826-white, #fff);
  font-family: "Knockout";
  font-size: 36px;
  font-style: normal;
  font-weight: 320;
  line-height: 88.5%;
  text-transform: capitalize;
  text-align: center;
}
.involved_img_left {
  /* border: 1px solid blue; */
  background-color: #ff5444;
  border-radius: 24.502px;
  overflow: hidden;
  width: 49%;
}
.involved_img_left p {
  color: #eaeaea;
  text-align: center;
}
.involved_img_top {
  width: 100%;
}
.involved_img_top_img {
  width: 100%;
  padding-top: 24%;
  position: relative;
  overflow: hidden;
}
.involved_img_top_img img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.involved_img_btm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
.involved_img_btm p {
  text-align: center;
}
.involved_img_btm_btn {
  display: flex;
  justify-content: center;
  margin-top: 74px;
}
.involved_img_btm_btn button {
  border: 0.5px solid #fff;
  border-radius: 0px;
  font-size: 15.71px;
  font-style: normal;
  font-weight: 600;
  line-height: 23.042px; /* 146.667% */
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}
.involved_img_right {
  border: 5px solid #005cff;
  border-radius: 24.502px;
  overflow: hidden;
  width: 49%;
}
.involved_img_right .involved_img_btm_btn {
  margin-top: 30px;
}
.involved_img_right h3 {
  color: #1c1c1c;
  text-transform: capitalize;
}

/* involved section ends */

/* chapter-section start */

.chapter_section {
  background: #f8f8f8;
  overflow: hidden;
  /* position: relative; */
  padding-bottom: 200px !important;
}
.chapter_text {
  text-align: center;
}
.chapter_img {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chapter_left_img,
.chapter_right_img {
  border-radius: 23px;
  overflow: hidden;
  /* border: 1px solid red; */
}
.chapter_left_img {
  width: 58%;
}
.chapter_right_img {
  width: 40%;
}
.chapter_left_img_main {
  width: 100%;
  padding-top: 77%;
  position: relative;
  overflow: hidden;
}
.chapter_left_img_main img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.chapter_right_top {
  height: 34%;
}
.chapter_right_img_main {
  width: 100%;
  padding-top: 38%;
  overflow: hidden;
  position: relative;
  border-radius: 23px;
}
.chapter_right_img_main img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.chapter_right_btm {
  /* border: 1px solid red; */
  height: 55%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.chapter_right_btm_heading {
  display: flex;
  justify-content: space-between;
  /* border-bottom:2px solid #005CFF ; */
  position: relative;
}
.chapter_right_btm_heading::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0px;
  background: #005cff;
}
.chapter_right_btm_heading h6 {
  font-size: 31.25px;
}
.chapter_right_btm {
  margin-top: 63px;
}
.chater_right_btm_text_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chapter_right_btm_txt {
  margin-top: 12px;
  position: relative;
}
.chapter_right_btm_txt p {
  font-size: 12px;
  margin: 0px;
  position: relative;
}
.chapter_right_btm_txt p a {
  position: absolute;
  right: 0px;
}
.chapter_right_btm_txt::after {
  content: "";
  width: 10%;
  height: 0.2rem;
  position: absolute;
  left: 0px;
  bottom: -15px;
  background: #ff5e4f;
}
.chapter_r_item2::after {
  background: #1cc6f3;
}
.chapter_r_item3::after {
  background: #ffc000;
}
.chapter_r_item4::after {
  background: transparent;
}

.chapter_right_btm_para span {
  font-size: 16px;
}
.chapter_blur_img {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.chapter_blur_img_item {
  position: relative;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
}
.ch_img_main p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ch_top {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  background-color: #f4efef;
  position: absolute;
  top: 0px;
  opacity: 0.4;
  cursor: pointer;
}
.ch_top.active {
  opacity: 0;
}
.tabcontent {
  display: none;
}
.international_main {
  /* border: 1px solid red; */
  width: 70%;
  display: inline-block;
  background-color: #ffc000;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  left: 14%;
  margin-top: 75px;
}
.intern_para {
  display: flex;
  justify-content: center;
}
.intern_para p {
  width: 60%;
}
.international {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intern_btn {
  width: 80%;
  margin-top: 30px;
}
.intern_btn button {
  font-size: 15.71px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 0px;
  background-color: #fff;
}

/* chapter -section  ends */

/* support section start */

.support_section {
  background-color: #005cff;
  width: 100%;
  background-image: url("../img/Rectangle.png"),
    url("../img/support-background-right-img.svg");
  background-size: 100% 100%, 51% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 220px;
}
.support_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.support_left_main {
  width: 49%;
  display: flex;
  align-items: center;
}
.support_left {
  /* border: 1px solid black; */
  padding: 100px;
}
.support_heading p {
  font-size: 71px;
  font-weight: 405;
  letter-spacing: 1.42px;
  color: #fbfbfb;
  font-family: "Knockout";
  margin: 0px;
}
.support_heading p span {
  font-family: "Blimps personal use";
}
.support_para p {
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 500;
  font-size: normal;
  font-family: "Rubik";
  width: 85%;
}
.support_para p span {
  position: absolute;
  left: 18%;
}
.support_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8.071px;
  margin-top: 22px;
}
.support_btn button {
  font-size: 15.71px;
  font-weight: 600;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  text-align: center;
  background-color: #fff;
  color: #272727;
  border-radius: 0px;
}
.support_right {
  /* border: 1px solid red; */
  width: 50%;
  position: relative;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: flex-end;
}
.support_right_img {
  width: 100%;
  padding-top: 90%;
  position: relative;
  overflow: hidden;
}
.support_right_img img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

/* sponser_partner_setion ends */

/* Sponser-patter-section start */

.sponser_partner_text {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sponser_partner_img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.sponser_partner_heading {
  position: relative;
}
.sponser_partner_heading p {
  margin: 0px;
  color: #1c1c1c;
  text-align: center;
  font-family: "Rubik";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.82px;
  text-transform: uppercase;
}
.sponser_partner_para p {
  margin-top: 15px;
  color: #4d4d4d;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.sponsor_partner_btm_img {
  position: absolute;
  left: -10px;
  bottom: 0px;
  width: 115%;
}

/* sponser_partner_setion ends */

/* footer section  start*/

.footer_section {
  background-color: #fff000;
  position: relative;
  width: 100%;
  /* height: 100%; */
}
.footer_background_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  /* border:1px solid red; */
}
.footer_background_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_main {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}
.footer_inner {
  /* width: 70%; */
}
.footer_inner1 {
  /* border:1px solid red; */
  width: 100%;
  padding: 100px 60px 0px 40px;
}
.footer_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
.footer_li h3 {
  position: relative;
}
.footer_li ul li a {
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
.footer_list_item1 ul li a::after {
  background: #ff4900;
}
.footer_list_item2 ul li a::after {
  background: #009eff;
}
.footer_list_item3 ul li a::after {
  background: #74a02b;
}
.footer_list_item4 ul li a::after {
  background: #1cc6f3;
  bottom: -7px;
}
.footer_li h3::after {
  content: "";
  height: 0.175rem;
  width: 25px;
  background: #ff4900;
  position: absolute;
  left: 0px;
  bottom: -7px;
}

.footer_list_item2 h3::after {
  background-color: #009eff;
}

.footer_list_item3 h3::after {
  background-color: #74a02b;
}

.footer_list_item4 h3::after {
  background-color: #1cc6f3;
}
.footer_bottom_img {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px 0px;
  flex-wrap: wrap;
}
.footer_text p {
  font-weight: 320px;
}
.footer_btn {
  background-color: #005cff;
  border-radius: 0px;
  border: 1px solid #005cff;
  color: #fff;
}
.border_box {
  border-top: 0.5px solid #4d4d4d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 10px 50px;
}
.border_box .left_box p,
.border_box .right_box p {
  font-size: 10px;
  color: #4d4d4d;
  margin-bottom: 0px;
}

.footer_right_img {
  width: 30%;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.right_background_img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0.1;
  overflow: hidden;
}
.footer_right_inner {
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  /* border:1px solid red; */
  z-index: 11;
}

.footer_right_inner img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.footer_right_inner .img1 {
  position: absolute;
  left: 20px;
}

@media screen and (max-width: 1300px) {
  .support_left {
    padding: 25px;
  }
  .involved_img_right .involved_img_btm_btn {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .custom_container {
    max-width: 960px;
  }
  .hamburger-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_top .left_btn,
  .right_btn {
    display: none;
  }
  .support_para p span {
    display: none;
  }
  .chapter_img {
    flex-direction: column;
  }
  .chapter_left_img {
    width: 100%;
  }
  .chapter_right_img {
    margin-top: 40px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .chapter_right_btm {
    margin-top: 30px;
  }
  .chapter_right_btm_txt::after {
    bottom: -8px;
  }
}

@media screen and (max-width: 992px) {
  .custom_container {
    max-width: 720px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 14px;
  }
  .resource_main {
    padding: 0px;
  }
  .resource_bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .resource_heading_two {
    font-size: 48px;
  }
  .resource_main {
    padding: 0px;
  }
  .digital_resource_text {
    width: 75%;
  }
  .involved_heading_para p {
    width: 65%;
  }
  .involved_img_right .involved_img_btm_btn {
    margin-top: 12px;
  }

  .support_heading p {
    font-size: 55px;
  }
  .chapter_blur_img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 40px;
  }

  .footer_inner {
    width: 100%;
  }
  .footer_bottom_img {
    padding: 0px;
  }
  .footer_inner1 {
    padding: 50px 0px;
  }
  .footer_right_img {
    width: 100%;
  }
  .footer_right_img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .writing_img {
    display: none;
  }
  .writing_main {
    right: 0px;
  }
  .writing_btn,
  .writing_heading {
    text-align: center;
  }
  .writing_icon {
    margin-top: 40px;
  }
  .writing_text {
    width: 100%;
  }
  .writing_icon_text {
    left: 10%;
  }

  .left_right_text {
    margin-right: 6%;
  }
}

@media screen and (max-width: 768px) {
  .digital_resource_item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .digital_icon_top {
    left: 28px;
  }
  .digital_resource_icon .icon5 {
    top: -1px;
  }
  .digital_resource_text {
    width: 100%;
  }
  .digital_resource_para p {
    width: 100%;
  }
  .digital_resource_icon {
    width: auto;
  }
  .resource_para {
    width: 100%;
  }
  .resource_item {
    width: 45%;
  }
  .involved_img {
    flex-direction: column;
  }
  .involved_img_left {
    width: 100%;
  }
  .involved_img_right {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .custom_container {
    padding: 0px 15px;
  }
  .header_top {
    padding: 25px 15px;
  }
  .resource_main {
    padding: 0px 15px;
  }
  .writing_main {
    padding: 0px 15px;
  }
  .digital_resource_main {
    padding: 0px 15px;
  }
  .involved_main {
    padding: 0px 15px;
  }
  .involved_heading_para p {
    width: 100%;
  }
  .chapter_section_inner {
    padding: 0px 15px;
  }
  .chapter_blur_img {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
  }
  .international_main {
    width: 84%;
    left: 8%;
  }
  .support_right {
    display: none;
  }
  .support_left_main {
    width: 100%;
  }
  .support_left {
    padding: 28px;
    text-align: center;
  }
  .support_para p {
    width: 100%;
  }
  .support_btn {
    margin-bottom: 15px;
  }
  .sponser_partner_img {
    justify-content: center;
  }
  .sp_item1,
  .sp_item4,
  .sp_item8,
  .sp_item6 {
    display: none;
  }
  .sp_item3,
  .sp_item7 {
    margin-top: 15px;
  }
  .sponser_partner_section {
    padding: 50px 30px;
  }
  .sponser_partner_para p {
    text-align: justify;
  }
  .footer_inner1 {
    padding: 40px 15px;
  }
  .border_box {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 550px) {
  .resource_bottom {
    grid-template-columns: repeat(1, 1fr);
  }
  .resource_item {
    width: 75%;
  }
  .support_section {
    background-image: url("../img/Rectangle.png");
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 300px;
  }
  .footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}
@media screen and (max-width: 460px) {
  .writing_icon_text {
    left: 18%;
  }

  .footer_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .footer_bottom_img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    padding: 0px 0px 40px 0px;
  }
}
