@font-face {
  font-family: "Knockout";
  src: url("../fonts/Knockout-HTF49-Liteweight.woff2") format("woff2"),
    url("Knockout-HTF49-Liteweight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blimps personal use";
  src: url("../fonts/Blimps.woff2") format("woff2"),
    url("../fonts/Blimps.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
}
.active {
  overflow: hidden;
}
.container {
  max-width: 1540px;
}
.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #005cff;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translateY(0);
  background-image: url("../img/Rectangle.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c1c;
  font-family: "Knockout";
}
h2 {
  font-size: 48px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.custom_button {
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease all;
  display: inline-block;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  text-transform: capitalize;
}
.custom_button:focus {
  outline: none;
}
ul li a {
  width: 100%;
  position: relative;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  background: #ff5e4f;
  height: 0.15rem;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s ease all;
}
ul li a:hover::after {
  transform: scale(1, 1);
}

header {
  background-color: #fff;
  z-index: 99;
  width: 100%;
  /* height: 20vh; */
  position: absolute;
  top: 0px;
  z-index: 999;
  transition: 0.5s ease all;
  /* border: 1px solid red; */
}
.header_fixed {
  background-color: #005cff; /* Background color when fixed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.5s ease all;
  background-image: url("../img/Rectangle.png");
}
.left_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  /* border:1px solid red; */
}

.right_img {
  height: 100%;
  width: 40%;
  position: absolute;
  float: right;
  overflow: hidden;
  right: 0px;
}
.right_img img {
  width: 100%;
}
.header_inner {
  position: relative;
  width: 100%;
  z-index: 999;
  transition: 0.3s ease all;
}

.left_background_img {
  position: relative;
  /* border: 4px solid white; */
  width: 100%;
  right: 0px;
}
.frame_img {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.header_top {
  /* border:1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  z-index: 99;
}
.header_top button {
  text-transform: uppercase;
}
.header_top .left_btn,
.right_btn {
  /* border:1px solid black;/ */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donate button {
  color: #005cff;
  border: 1.5px solid #005cff;
}
.store button {
  color: #ff9900;
  border: 1.5px solid #ff9900;
  margin-left: 12px;
}
.login button {
  background-color: #353535;
  color: #ffffff;
  border: 1px solid #353535;
  margin-right: 12px;
}
.signup button {
  color: #353535;
  background-color: #ffffff;
  border: 1px solid #000;
}
.left_btn {
  /* border:1px solid #FF9900; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.left_btn ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  gap: 31px;
}
.left_btn ul li a {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 14px;
}
.list_item {
  display: none;
}

.list_item {
  background-color: #1cc6f3;
  border-radius: 14px;
  padding: 10px 10px;
  width: 150px;
  position: absolute;
  margin-top: 5px;
  z-index: 999;
  box-shadow: 0px 1.52381px 0px 0px #232323;
}
.list_item .list ul {
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
}
.list ul li a {
  font-weight: 400;
}
.list ul {
  gap: 0px;
}
.list ul li a::after {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 120px;
  background: #ff9900;
  left: 0px;
  bottom: -4px;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s ease all;
}
.list ul li a:hover::after {
  transform: scale(1, 1);
}
.list ul li:last-child {
  margin: 8px 0px 5px 0px;
}
.hamburger-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
}





.other_section{
    height:1000px;
}
















/* footer section  start*/

.footer_section {
  background-color: #fff000;
  position: relative;
  width: 100%;
  /* height: 100%; */
}
.footer_background_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  /* border:1px solid red; */
}
.footer_background_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_main {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}
.footer_inner {
  /* width: 70%; */
}
.footer_inner1 {
  /* border:1px solid red; */
  width: 100%;
  padding: 100px 60px 0px 50px;
}
.footer_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
.footer_li h3 {
  position: relative;
}
.footer_li ul li a {
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
.footer_list_item1 ul li a::after {
  background: #ff4900;
}
.footer_list_item2 ul li a::after {
  background: #009eff;
}
.footer_list_item3 ul li a::after {
  background: #74a02b;
}
.footer_list_item4 ul li a::after {
  background: #1cc6f3;
  bottom: -7px;
}
.footer_li h3::after {
  content: "";
  height: 0.175rem;
  width: 25px;
  background: #ff4900;
  position: absolute;
  left: 0px;
  bottom: -7px;
}

.footer_list_item2 h3::after {
  background-color: #009eff;
}

.footer_list_item3 h3::after {
  background-color: #74a02b;
}

.footer_list_item4 h3::after {
  background-color: #1cc6f3;
}
.footer_bottom_img {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px 0px;
  flex-wrap: wrap;
}
.footer_text p {
  font-weight: 320px;
}
.footer_btn {
  background-color: #005cff;
  border-radius: 0px;
  border: 1px solid #005cff;
}
.border_box {
  border-top: 0.5px solid #4d4d4d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 10px 50px;
}
.border_box .left_box p,
.border_box .right_box p {
  font-size: 10px;
  color: #4d4d4d;
  margin-bottom: 0px;
}

.footer_right_img {
  width: 30%;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.right_background_img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0.1;
  overflow: hidden;
}
.footer_right_inner {
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  /* border:1px solid red; */
  z-index: 11;
}

.footer_right_inner img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.footer_right_inner .img1 {
  position: absolute;
  left: 20px;
}

@media screen and (max-width:1200px) {
    .hamburger-icon {
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_top .left_btn,
    .right_btn {
      display:none;
     
    }
}

@media screen and (max-width: 992px) {
  .footer_inner {
    width: 100%;
  }
  .footer_right_img {
    width: 100%;
  }
  .footer_right_img {
    display: none;
  }
}

@media screen and (max-width: 650px) {
    .header_top {
        padding: 25px 15px;
      }
  .footer_inner1 {
    padding: 40px 15px 0px 15px;
  }
}
@media screen and (max-width: 550px) {
  .footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}
@media screen and (max-width: 460px) {
  .footer_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .footer_bottom_img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    padding: 0px 0px 40px 0px;
  }
}
